body {
  margin: 0;
  padding: 0;
  background-color: rgb(104, 130, 248);
  
  }

h1 {
  background-color: rgb(14, 36, 0);
  height: 20vh;
  margin-top:0%;
  

}
.titulo {
  text-align: center;
  margin-top: -5%;


}

.quadrado{
  margin: 10%;
  width: 50vw;
  height:80vh ;
  background-color: rgb(0, 20, 85);
  border: solid rgba(7, 7, 7, 0.253) 5px ;
border-radius: 2px;
  margin-left: 27%;

 
}


.palavra1 {
margin-right: 40vw;
margin-top: 2vh;



 }

 .palavra2 {

 


 }

 .palavra3 {

  margin-top: -10vh;

 

 }

 .palavra4 {

 


 }

 .palavra5 {

 


 }

 .palavra6 {

 


 }

 .palavra7 {

 


 }

 .palavra8 {

 


 }



 .palavra9 {

 


 }

 .palavra10 {

 


 }

 .palavra11 {

 


 }

 .palavra12 {

 


 }

 .palavra13 {

 


 }

 .palavra14 {

 


 }

 .palavra15 {

 


 }

 .palavra16 {

 


 }



 

}

